html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.header-site {
  background-image: url(../img/Rectangle\ 6.png);
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 203px;
}

.site-developer {
  border-radius: 41px;
  border: 1px solid #FFF;
  opacity: 0.8;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.00);
  margin-bottom: 60px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.site-text {
  width: 389px;
  color: #FFF;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}

.site-developer-text {
  width: 347px;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.site-button {
  border: none;
  width: 100%;
  margin-top: 0;
  max-width: 570px;
  padding: 28px 145px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 0px 0px 20px 20px;
  background: #4DC490;
}

.site-another-button {
  color: #FFF;
  font-family: Inter;
  margin-top: 0;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}