html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline-width: 2px;
  outline-color: #655AF2;
  outline-style: dashed;
  outline-offset: 5px;
}

body {
  background-color: #F1F4FF;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.site {
  width: 100%;
  max-width: 1440px;
  height: 800px;
margin: 80px 144px;
  display: flex;
  align-items: center;
  justify-content: center;


}

.header-site {
  background-image: url(../img/Rectangle\ 6.png);
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 203px;
}

.site-developer {
  border-radius: 41px;
  border: 1px solid #FFF;
  opacity: 0.8;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.00);
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
}

.site-text {
  width: 389px;
  margin-top: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  margin-top: 60px;
}

.site-developer-text {
  width: 347px;
  color: #FFF;
  margin-top: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.site-button {
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 0;
  max-width: 570px;
  padding: 28px 145px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 0px 0px 20px 20px;
  background: #4DC490;
}

.site-another-button {
  color: #FFF;
  font-family: Inter;
  margin-top: 0;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sign-departmant {
  width: 100%;
  max-width: 570px;
  padding-top: 55px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  height: 640px;
  margin-left: 12px;
  border-radius: 20px;
  background: #FFF;
}

.sign-header {
  margin-bottom: 60px;
}
.input-wrapper{
  width: 100%;
  max-width: 570px;
  position: relative;
}
.sign-up {
  margin-top: 0;
  margin-bottom: 79px;
  width: 428px;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  
}

.sign-name {
  margin-top: 0;
  width: 450px;
  padding-bottom: 11px;
  margin-bottom: 35px;
  border-left: none;
  border-top: none;
  border-right: none;
  font-family: Inter;
  font-size: 18px;
  color: #555;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sign-line {
  margin-top: 0;
  margin-bottom: 35px;

  width: 450px;
  stroke-width: 1px;
  stroke: #000;

}

.vector {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sign-last-name {
  width: 450px;
  margin-top: 0;
  padding-bottom: 14px;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-bottom: 35px;
  color: #555;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sign-email {
  width: 450px;
  margin-top: 0;
  padding-bottom: 14px;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-bottom: 35px;
  color: #555;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sign-password {
  margin-top: 0;
  padding-bottom: 14px;
  width: 450px;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #555;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sign-button {
  width: 100%;
  max-width: 450px;
  border: 0;
  margin-top: 0;
  cursor: pointer;
  padding: 20px 149px;
  border-radius: 10px;
  background: #655AF2;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.sign-small-text {
  color: #555;
  text-align: center;
  margin-top: 0;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  
}

.sign-small-text-two {
  color: #F03535;
  margin-top: 0;
  font-family: Inter;
    cursor: pointer;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  text-decoration-line: underline;
}
.sign-text{
  position:absolute;
  top: 40px;
  left: 100px;
  right: 4px;
  display: none;
  margin-top: 0;
  color: #F03535;
text-align: right;
font-family: Inter;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.input:not(:focus):not(:placeholder-shown):invalid{
  border-color:red;
}
.input:not(:focus):not(:placeholder-shown):valid{
  border-color:green;
}
.sign-up:not(:focus):not(:placeholder-shown):invalid ~ .sign-text{
display: block;
}